.about-page {
    font-family: 'Helvetica Neue', sans-serif;
    color: #A5A29F;
    line-height: 1.6;
  }
  
  .about-page ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-page img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}