
/* ---- grid ---- */
.grid {
  background:#ffffff;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.image-grid-sizer,
.image-grid-item{
  /* 2 columns by default */
  width: 33.333%;
}
/* make the image slightly larger than the image-grid */
.image-grid-item img{
    height: auto;
    display: block;
}
  
@media screen and (max-width: 1500px) {
    /* 1 column */
    .image-grid-sizer,
    .image-grid-item{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    /* 1 column for smaller screens */
    .image-grid-sizer,
    .image-grid-item{
        width: 100%;
    }
}
.image-grid-item{
    display: block;
    max-width: 100%;
    float: left;
    position: static;
    margin-top: 4px;
    margin-bottom: 4px;
}
.image-grid-item, img{
    width: 95%;
}
html, body {
    overflow: visible;
}
